body {
    background-color: #333c4b;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.header-wrapper {
    position: relative;
    pointer-events: none;
}

header {
    /* background-color: #333c4b; */
    /* background-image: url(../img/header_img.png); */
    /* background-repeat:  no-repeat; */
    width:100%;
    height: 100%;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 10;
    background-color: #ff020200;
    /* object-fit:cover; */
}

.header-img {
    background-image: url(../img/header_light.png);
    background-size: cover;
    width: 100%;
    height: 200px;
    /* object-fit:cover; */
}

.page-title {
    margin: 0 60px;
    /* background-color: #fff; */
}

.page-title-img {
    /* background-color: #3b475c; */
    /* width: clamp(300px 50% 1000px); */
    /* width: 50%; */
    /* padding: 100px; */
    max-width: 700px;
    height: 33vw;
    max-height: 300px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    /* background-color:#3a2876; */
    background-image: url(../img/title-text.png);
    background-size: 100%;
    background-repeat:no-repeat
}


/* h1 {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5.8vw;
    text-align: center;
}

h2 {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6.3vw;
    text-align: center;
}

h3 {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
    text-align: right;
}


span {
    color: #D4a056;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
    text-align: right;
}

h4 {
    color: #949494;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: right;
} */

.power-bottom {
    /* width: 40px; */
    /* height: 100px; */
    /* margin: 0 auto; */
    /* padding-bottom: 100px; */
    margin: 0 46vw;
    pointer-events: auto;
    /* background-color: #465576; */
    margin-bottom: 60px;
}

.power-bottom-img {
    width: 100%;
    max-width: 50px;
    height: 8vw;
    min-height: 130px;
    /* max-height: 300px; */
    margin: 0 auto;
    background-image: url(../img/ONOFF_botton.png);
    /* background-color: #4e5a6f; */
    background-size: 100%;
    background-repeat:no-repeat
}

/* .power-bottom, .page-title {
    opacity: 100%;
} */

.header-wrapper:active{
    .header-img {
        background-image: url(../img/header_light_hover.png);
    }
    .page-title {
        opacity: 20%;
    }
    .power-bottom-img {
        background-image: url(../img/ONOFF_botton_hover.png);
    }
}

/* .power-bottom + .header-wrapper{
    background-color: #ff0000;
} */

.ON {
    text-align: center;
    background-color: #c2c2c2;
    padding: 10px 0px;
}

.OFF {
    text-align: center;
    background-color: #ffffff;
    padding: 10px 0px;
}


article {
    margin: 0 auto;
    max-width: 700px;
    /* background-color: #3f495a; */
    padding: 0 16px;
    padding-bottom: 50px;
}

h1 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: bold;
}

.profile_img {
    width: 100%;
}

.name {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.introduction {
    text-align: left;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 100px;
    text-align: justify;
}

a:nth-child(1){
    text-decoration: none;
    background-color: #4A4C5C;
    grid-area: work1;
    position: relative;
    padding: 16px;
    border-radius: 16px;
}

a:nth-child(1):hover{
    text-decoration: none;
    z-index: 5;
    transition: all 0.6s;
    background-color: #5c5e6f;
    grid-area: work1;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    transform:scale(1.1,1.1);
}

a:nth-child(2){
    text-decoration: none;
    background-color: #4A4C5C;
    grid-area: work2;
    position: relative;
    padding: 16px;
    border-radius: 16px;
}

a:nth-child(2):hover{
    text-decoration: none;
    z-index: 5;
    transition: all 0.6s;
    background-color: #5c5e6f;
    grid-area: work2;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    transform:scale(1.1,1.1);
}

a:nth-child(3){
    text-decoration: none;
    background-color: #4A4C5C;
    grid-area: work3;
    position: relative;
    padding: 16px;
    border-radius: 16px;
}

a:nth-child(3):hover{
    text-decoration: none;
    z-index: 5;
    transition: all 0.6s;
    background-color: #5c5e6f;
    grid-area: work3;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    transform:scale(1.1,1.1);
}

a:nth-child(4){
    text-decoration: none;
    background-color: #4A4C5C;
    grid-area: work4;
    position: relative;
    padding: 16px;
    border-radius: 16px;

}

a:nth-child(4):hover{
    text-decoration: none;
    z-index: 5;
    transition: all 0.6s;
    background-color: #5c5e6f;
    grid-area: work4;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    transform:scale(1.1,1.1);
}

a:nth-child(5){
    text-decoration: none;
    background-color: #4A4C5C;
    grid-area: work5;
    position: relative;
    padding: 16px;
    border-radius: 16px;

}

a:nth-child(5):hover{
    text-decoration: none;
    z-index: 5;
    transition: all 0.6s;
    background-color: #5c5e6f;
    grid-area: work5;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    transform:scale(1.1,1.1);
}

a:nth-child(6){
    text-decoration: none;
    background-color: #4A4C5C;
    grid-area: work6;
    position: relative;
    padding: 16px;
    border-radius: 16px;

}

a:nth-child(6):hover{
    text-decoration: none;
    z-index: 5;
    transition: all 0.6s;
    background-color: #5c5e6f;
    grid-area: work6;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    transform:scale(1.1,1.1);
}

/* .container {
    display: grid;
    grid-template: 
        "marginLeft work1 work2 marginRight" auto
        "marginLeft work3 work4 marginRight" auto
        "marginLeft work5 work6 marginRight" auto
        / 4px 1fr 1fr 4px;
    grid-gap: 8px;
} */

@media (max-width: 5000px) {
    .container {
        display: grid;
        grid-template: 
            "work1 work2 work3 work4" auto
            "work5 work6 work7 work8" auto
            / 1fr 1fr 1fr 1fr;
        grid-gap: 8px;
    }
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 36px;
        /* margin: 36px 0px 24px 112px; */
    }
  }

@media (max-width: 1280px) {
    .container {
        display: grid;
        grid-template: 
            "work1 work2 work3" auto
            "work4 work5 work6" auto
            / 1fr 1fr 1fr;
        grid-gap: 8px;
    }
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 36px;
        /* margin: 36px 0px 24px 52px; */
    }
  }

  @media (max-width: 600px) {
    .container {
        display: grid;
        grid-template: 
            "work1 work2" auto
            "work3 work4" auto
            "work5 work6" auto
            / 1fr 1fr;
        grid-gap: 8px;
    }
    h1 {
        color: #fff;
        font-weight: bold;
        font-size: 36px;
        /* margin: 36px 0px 24px 16px; */
    }
  }


.img1,.img2,.img3,.img4,.img5,.img6 {
    max-height: 150px;
    position: absolute;
    top: 16px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}

h2 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
    margin: 155px 0px 8px 0px;
    line-height: 1.6;
}

p {
    color: #d4a056;
    font-weight: normal;
    font-size: 10px;
}

.others {
    margin-top: 64px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #252a32;
}

.contact-wrapper {
    margin: 0 auto;
    max-width: 900px;
}

.contact-wrapper h1 {
    color: #ffffff;
    font-size: 24px;
    z-index: 1;
    margin: 0;
    padding: 24px 0px 0px 0px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    /* background-color: #fff; */
}

.contact-wrapper p {
    color: rgb(255, 255, 255);
    font-size: clamp(18px, 1.5vw, 20px);
    margin: 0px;
    padding: 16px 0px 0px 0px;
    font-weight: nomal;
    line-height: 1.0;
    text-align: center;
}

.contact-wrapper .thanks {
    color: #d4a056;
    font-size: clamp(18px, 1.5vw, 20px);
    margin: 0px;
    padding: 24px 0px 0px 0px;
    font-weight: nomal;
    line-height: 1.0;
    text-align: center;
}